doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/style.css')

    script(src='/js/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/script.js')

  body
    nav.navbar.navbar-default.navbar-other
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            img.logo(src='/img/logo_bg.png')
        div.collapse.navbar-collapse#mobile
          ul.nav.navbar-nav.navbar-right
            if locals.session.user
              li.dropdown
                a.user(href='/', data-toggle='dropdown')
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/profile') !{session.user['firstname']+' '+' '+session.user['lastname']}
                  li
                    a(href='logout') Logout
            else
              li
                a(href='/login') Login
              li
                a(href='/register') Register
    block content