doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='/js/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/script.js')

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') OpenLabs
        div.collapse.navbar-collapse#mobile
          ul.nav.navbar-nav          
            li.active
              a(href='/') Home        
            li
              a(href='/about') About
            li
              a(href='Contacts') Reach Us  
          div.pull-right     
            a.btn.btn-info(href='/login', role='button') Login       
            a.btn.btn-info(href='/register', role='button') Register
    block content