extends layout

block content
    .container-fluid
      .row
        div.col-md-4.col-md-offset-4.login-form
          h3 Sign in
          if message
            div.alert.alert-danger !{message}
          form(role='form',method='POST',action='')
            div.form-group
              label(for='email') Email:
              input.form-control(type='email', placeholder='Enter email', name='email')
            div.form-group
              label(for='password') Password:
              input.form-control(type='password', placeholder='Enter password', name='password')
            .checkbox
              label
                input(type='checkbox')
                |  Remember me
            button.btn.btn-default(type='submit') Login
