div.col-md-2
	div.menu
		ul
			li
				a(href='/')
					i.fa.fa-home
					| Home
			li
				a(href='/discover')
					i.fa.fa-globe
					| Discover
			li
				a(href='/groups')
					i.fa.fa-users
					| Groups
			li
				a(href='/records')
					i.fa.fa-folder-o
					| Records
			li
				a(href='/laboratory')
					i.fa.fa-flask
					| Laboratory
			li
				a(href='/settings')
					i.fa.fa-gears
					| Settings