extends layout

block content
 .container
  .form-group
    form(role='form')
      .row
        .col-md-6.col-lg-4(style='background-color: #dedef8;\
        //box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;')
         <label for="usr">First name:</label>
         <input type="text" class="form-control" id="usr">
         <label for="usr">Last name:</label>
         <input type="text" class="form-control" id="usr">
         label(for='email') Email:
         input#email.form-control(type='email', placeholder='Enter email')
         label(for='pwd') Password:
         input#pwd.form-control(type='password', placeholder='Enter password')
         label(for='pwd') Password:
         input#pwd.form-control(type='password', placeholder='Confirm password')
        .col-md-6.col-lg-4(style='background-color: #dedef8;\
        //box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;')
         select(name='Gender')
          option(value='female') Female
          option(value='male') Saab
      
              
          button.btn.btn-default(type='submit') Submit
        .col-md-6.col-lg-4(style='background-color: #dedef8;')
         label(for='comment') Bio(Optional):
         textarea#comment.form-control(rows='5')
