*{
    border-radius: 0px !important;
}

body{
    background-color: #FAFAFA;
}

/**********Material Icon Overrides****************/
.btn i.material-icons{
}

.navbar-home{
    /* background: none; */
    border: none;
    z-index: 1000;
}

.navbar-home .logo{
    height: 120px;
    margin-left: 50px;
    margin-top: -20px;
    background-color: #f8f8f8;
    padding: 15px;
    border-bottom-left-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.navbar-other .logo{
    height: 50px;
    margin-top: -15px;
}

.navbar a{
    height: 50px;
}

.navbar li ul a{
    height: auto;
}

.navbar a.user{
    width: 40px;
    background: url('../icons/user.png') center center no-repeat;
}

.cover{
    background-position: center;
    background-repeat: no-repeat;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: -70px;
}

.home{
    background-image: url('../img/background.jpg');
}
.login{
    background-image: url('../img/background.jpg');
    padding-top: 80px;
}
.register{
    background-image: url('../img/background.jpg');
    padding-top: 80px;
}
.home .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(62, 84, 210, 0.34);
}

.login-form {
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0px 0px 3px #CCC;
    margin-top: 60px;
}

.login-form h3{
    display: block;
    text-align: center;
    padding-bottom: 15px;
    margin: 0 -20px 15px;
    border-bottom: solid 1px #DDD;
}

.register-form {
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0px 0px 3px #CCC;
    margin-top: 40px;
}

.register-form h3{
    display: block;
    text-align: center;
    padding-bottom: 15px;
    margin: 0 -20px 15px;
    border-bottom: solid 1px #DDD;
}

.register-form textarea{
    height: 280px;
}

.menu{
    height: calc(100vh - 100px);
    overflow: auto;
    /* background: #FFF; */
    /* box-shadow: 0 0 3px 0px #333; */
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li{
    /*border-bottom: solid 1px #DDD;*/
}

.menu li a{
    display: block;
    padding: 15px 15px;
    color: #767676;
    text-decoration: none;
    font-size: 13px;
}

.menu li a:hover{
    background-color: #EFEFEF;
}
.menu li a i{
    font-size: 22px;
    width: 45px;
}

.content{
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 1px #DDD;
    min-height: calc(100vh - 100px);
}